:root {
  --cola: #c300ff;
  --colb: #8300a6;
  --colc: #f88000;
  --cold: #fde7cf;

  --coltext: #0D1B1E;
  --colsky: #6CD4FF;
}

@font-face {
  font-family: fontstuckExtended;
  src: url(./assets/fontstuck-extended.ttf);
}

@font-face {
  font-family: carima;
  src: url(./assets/carima.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;

  background-image: linear-gradient(135deg, var(--colsky), var(--coltext) 80%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
  max-width: 1200px;
  margin: auto;

  background-color: var(--cold);
  min-height: 100vh;
}

img {
  width: 100%;
}

a { 
  color: var(--cola);
  font-weight: bold;
}
a:hover { color: var(--colb) }

h1, h2 {
  font-family: fontstuckExtended;
  font-weight: normal;
  margin-top: 0;
}

h1 {
  font-family: carima;
  text-align: center;
  color: white;
  text-shadow: 
    var(--coltext) 0 0 0.05em,
    var(--coltext) 0 0 0.05em,
    var(--coltext) 0 0 0.05em,
    var(--coltext) 0 0 0.05em;
}

h2 {
  border-bottom: currentColor solid;
  font-size: 2em;
}

h3 {
  font-size: 2em;
  font-family: fontstuckExtended;
  margin-bottom: 0;
  margin-top: 0.5em;

}

#banner {
  margin-bottom: -5px;
}

/* NAV */

nav {
  display: flex;
  justify-content: space-around;
  
  font-family: 'Courier New', Courier, monospace;
  position: sticky;
  top: 0;

  overflow-x: auto;
}

nav > * {
  display: block;
  flex-grow: 1;
  text-align: center;
  background-color: var(--cold);
  padding: 0.1em;

  text-decoration: none;
  font-size: larger;

  text-transform: uppercase;
  border-bottom: solid var(--cola);
}

nav > *:hover  {
  background-color: var(--cola);
  color: white;
}

.storelink {
  background-color: yellow;
  font-size: 1.25em;
  color: black;
  border-left: solid var(--cola);
}

.storelink:hover {
  background-color: var(--cola);
  font-size: 1.25em;
  color: white;
}

/* content */

#content {
  margin: 1em 1em 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--coltext);
  padding: 1em;
}

/* .rainbow {
  background: linear-gradient(to right, #E682F4 0%, #DFD17B 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  font-size: 1.5em;
  
} */

/* Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;

  width: calc(
    50% - 600px
  );

  overflow: hidden;
}

.sidebar .moon {
  position: absolute;
  bottom: 0;
  top: 0;
  width: unset;
  height: 100vh;
  left: auto;
  right: auto;
}

.sidebar .city {
  position: absolute;
  bottom: 0;
  width: 1500px;
  left: calc(
    50% - 750px
  );
}

#derse {
  right: 0;
  scale: -1;
}

#prospit {
  filter: invert(100%) hue-rotate(305deg) saturate(800%);
}

/* footer */

#footer {
  text-align: right;
  padding: 0.1em 1em;
}

/* content */

.homeTitleWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 5em; margin: 0;
}

.flex {
  display: flex; 
  justify-content: space-between;
  gap: 1em; 
  margin: 1em 0 ;

  line-height: 1.35;
}

.align {
  align-items: center;
}

.grow > div {
  flex-grow: 1;
  /* width: calc(50% - 1em); */
}

.grow4 {
  flex-wrap: wrap;
}

.grow4 > div {
  flex-grow: 1;
  max-width: 48%;
}

.homeImage {
  object-fit: cover; 
  width: 100%;
  border: white solid;
}

.emblem {
  width: 15%;
  min-width: 100px;
}

.cta {
  background: yellow;
  padding: 0.5em 1em;
  font-size: 1.5rem;
  display: block;
  width: fit-content;

  border-radius: 0.25em;
  color: black;
  text-decoration: none;

  margin: 2em auto;
  font-family: 'Courier New', Courier, monospace;
  border: solid currentColor;

  translate: -.5rem -.5rem;
  box-shadow: currentColor .5rem .5rem;
  text-align: center;
}

.cta:hover {
  background-color: var(--cola);
  color: white;
  translate: 0 0;
  box-shadow: none;
}

.datetime {
  text-align: center; 
  flex-grow: 1; 
  font-size: 1.25em;

  border: solid black;
  border-radius: 1em;
  background-color: #fffa;

  padding: 1em;
  padding-top: 0;
}

.datetime > div {
  font-weight: bold;
  margin-top: 0.75em;
  margin-bottom: 0.25em;
}

.guest {
  display: flex;
  align-items: center;
}

.guest img {
  width: 150px;
  border: white solid;
  margin-right: 1em;
}

.sep {
  padding-top: 0.5em; 
  margin: 0; 
  font-size: 3em; 
  text-align: center;
}

.credits > div {
text-align: center;
font-size: bold;
margin: 0.75em auto;
font-size: 1.25em;
}

.credits ul {
  list-style: none;
  padding: 0;
}

.credits li {
text-align: center;
font-size: bold;
margin: 0.75em auto;
font-size: 1.25em;
}

.soon {
  opacity: 0.5;
}

.sect {
  background-color: #cab8a5; 
  margin: 0 -2em; 
  padding: 2em; 
  padding-top: 0;
}

.bigImage {
  max-width: 30%;
}

#store {

}

@media (max-width: 700px) {

  .title {
    font-size: 2em;
  }

  .emblem {
    display: none;
  }

  #content {
    margin: 0.5em;
    padding: 0.5em;
  }

  .flex {
    flex-wrap: wrap;
    margin: 0em 0 0.5em;
  }

  .grow4 > div {
    min-width: 95%;
  }

  h2 {
    line-height: 1em;
    margin-bottom: 0.25em;
  }

  .sect {
    margin: 0 -1em;
    padding: 0.5em;
  }

  .datetime {
    padding: 0.5em;
    margin-top: 0.5em;
  }

  .datetime h3 {
    line-height: 1em;
    margin-top: 0;
  }

  .bigImage {
    max-width: 100%;
  }

}